﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Online</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a online booking.You do not have to spend a lot of time calling. Reservation of the building takes a few minutes.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Creating team</h5>

                    <p class="light">If you have not team or friends that wanna spend little bit time for activ sport, this is not problem. Because we provide mechanism which search another single players for creating team.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about system.</p>
                </div>
            </div>
        </div>

    </div>
</div>