﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
                <h1 class="header center teal-text text-lighten-5">Welcome to online booking</h1>
            <div class="row center">
                <h5 class="header col s12 light">Service allows you to book sports facilities online.</h5>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="row center">
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                </div>
            }           
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="images/basketball.jpg" alt="Unsplashed background img 1"></div>
</div>

@await Html.PartialAsync("_Advantages")