﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    
<div class="col s12 m6 offset-m3 login-wrapper">
    <div class="card">
        <div class="card-content">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <h4 class="center">@ViewData["Title"]</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input type="checkbox" class="filled-in" asp-for="RememberMe" />
                                <span>@Html.DisplayNameFor(m => m.RememberMe)</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-large z-depth-0 login-button">Log in</button>
                    </div>
                    <div class="form-group" style="margin-top: 10px; margin-bottom: 20px;">
                        <a asp-action="ForgotPassword" class="left">Forgot your password?</a>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="right">Register as a new user?</a>     
                    </div>
                </form>
            </section>
        </div>
    </div>   
</div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
