﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <h4>Manage your account</h4>

    <div>
        <h5>Change your account settings</h5>
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
