﻿@using Ftemov.MVC.Models.UserViewModels;
@model UserCabinetViewModels
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <img class="materialboxed" src="~/images/avatars/user.png" height="200" style="margin-top: 10px; margin-left: auto; margin-right: auto;">
            <div class="row">
                <div class="center">
                    <p><h5>@Model.ApplicationUser.FirstName @Model.ApplicationUser.SecondName</h5></p>
                </div>               
            </div>
        </div>
        <div class="col s12 m8">
            <div class="row">
                <ul class="collection">
                    <li class="collection-item avatar">                       
                        <span class="title">Bookings :</span>
                    </li>
                </ul>
            </div>
            @foreach (var book in @Model.Bookings)
            {
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="images/build.png" alt="" class="circle">
                        <span class="title">Cost : @book.Cost грн</span>
                        <p>
                            @book.BookingStartingDate.Day/@book.BookingStartingDate.Month/2018 <br />
                            Start date : @book.BookingStartingDate.ToString("HH:mm:ss"); <br />
                            End date : @book.BookingEndingDate.ToString("HH:mm:ss"); <br />
                            @book.SportSection.SportSectionType
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
