﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Ftemov</h5>
                <p class="grey-text text-lighten-4">I'm student working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/eduard-ftemov-26820412a">Linkedin</a></li>
                    <li><a class="white-text" href="https://www.instagram.com/edftem/">Instagram</a></li>
                    <li><a class="white-text" href="https://www.facebook.com/ed.ftem">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="https://www.linkedin.com/in/eduard-ftemov-26820412a">Ftemov Eduard</a>
        </div>
    </div>
</footer>