﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ftemov</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />

        <!-- Compiled and minified CSS -->
    </environment>
</head>
<body>

<nav class="navbar" role="navigation">
    <div class="nav-wrapper container">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo" id="logo-container">Ftemov</a>
        @await Html.PartialAsync("_LoginPartial")
        <ul class="right hide-on-med-and-down">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-area="" asp-controller="SportComplex" asp-action="Index">Sport Complexes</a></li>
                <li><a asp-area="" asp-controller="User" asp-action="Index">User cabinet</a></li>
            }
            @if (User.IsInRole("Administrator"))
            {
                <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin panel</a></li>
            }
        </ul>
    </div>
</nav>

<div class="container-fluid" Style="height: 100%">
    <div class="row">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_Footer")
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
