@using Microsoft.AspNetCore.Identity
@using Ftemov.MVC.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="right hide-on-med-and-down">
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">

        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <button type="submit" class="btn">Log out</button>
        </li>

    </form>
</ul>
}
else
{
    <ul class="right hide-on-med-and-down">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
