﻿@using Ftemov.MVC.Models.SportComplexViewModels
@model BuildViewModel;
@{
    ViewData["Title"] = "Build";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="~/images/build.png" alt="" class="circle">
                    <span class="title">Address : @Model.Build.Addres</span>
                    <p>
                        Contact phone number : @Model.Build.ContactPhone <br>
                        Working time : @Model.Build.StartingWorkTime.ToString("hh:mm") - @Model.Build.EndingWorkTime.ToString("hh:mm")
                    </p>
                </li>
            </ul>
        </div>
        <div class="col s12 m6">
           

        </div>
    </div>
    <div class="row">
        @foreach (var gs in @Model.SportSection.GroupBy(x => x.SportSectionType.Name))
        {
            <div class="col s12 m4">
                <div class="card" style="padding: 5px">
                    <span class="card-title center">@gs.Key.ToUpper()</span>
                    @foreach (var s in gs)
                    {
                        <ul class="collection">
                            <a href="#modal1" data-target="modal1" class="modal-trigger">
                                <li class="collection-item avatar" id="#section-item">
                                    <img src="~/images/ico/@s.SportSectionType.Name.Insert(@s.SportSectionType.Name.Length, ".png")" alt="" class="circle section-img-@s.SportSectionType.Name">
                                    <span class="title">@s.SportSectionType.Name place @s.Id</span>
                                </li>
                            </a>
                        </ul>                        
                    }
                </div>                
            </div>
        }        
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Please choose time</h4>
    <div class="container">
        <form method="post" asp-controller="SportComplex" asp-action="SetBookig">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Date" placeholder="Time start" type="text" class="datepicker" value="Jul 21, 2108"/>
            <input asp-for="StaDateTime" placeholder="Time start" type="text" class="timepicker" value="12:00 PM"/>
            <input asp-for="EndDateTime" placeholder="Time end" type="text" class="timepicker" value="03:00 PM"/>
            <input asp-for="SectionId" placeholder="Sport Section" type="text" value="2"/>
            <button type="submit" class="btn btn-default">Booking</button>
        </form>
    </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>


