﻿@model Complex
@{
    ViewData["Title"] = "ComplexProfile";
}

<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" src="~/images/Stadium.jpg">
                </div>
            </div>
        </div>
        <div class="col s12 m6 center">
            <h2>@Model.Name</h2>
        </div>        
    </div>
    <div class="row">
        <div class="col s12 m4">
            <h6>Rating : @Model.Rating/5</h6>
            @for (int i = 0; i < @Model.Rating; i++)
            {
                <i class="material-icons orange600">star</i>
            }
            <br />
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header avatar"><img src="~/images/avatars/female.png" class="circle" style="height: 50px; margin-right: 10px" />Anna Vako<br />@Model.Rating/5</div>
                    <div class="collapsible-body"><span>Приходимо займатися спортом разом з подружкою! Все супер і класно. 5 балів.</span></div>
                </li>
                <li>
                    <div class="collapsible-header avatar"><img src="~/images/avatars/male.png" class="circle" style="height: 50px; margin-right: 10px" />Igor Oleskiv<br />@Model.Rating/5</div>
                    <div class="collapsible-body"><span>Хороші тренери, знавці своєї справи.</span></div>
                </li>
                <li>
                    <div class="collapsible-header avatar"><img src="~/images/avatars/matureman.png" class="circle" style="height: 50px; margin-right: 10px" />Jon Nice<br />@Model.Rating/5</div>
                    <div class="collapsible-body"><span>Люблю проводити свій вільний час тут!</span></div>
                </li>
            </ul>
            <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
        </div>
        <div class="col s12 m6">
            <h5>Builds :</h5>
            @foreach (var build in @Model.Builds)
            {
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="~/images/build.png" alt="" class="circle">
                        <span class="title">Address : @build.Addres</span>
                        <p>
                            Contact phone number : @build.ContactPhone <br>
                            Working time : @build.StartingWorkTime.ToString("hh:mm") - @build.EndingWorkTime.ToString("hh:mm")
                        </p>
                        <a class="secondary-content" asp-area="" asp-controller="SportComplex" asp-action="Build" asp-route-buildId="@build.Id">Profile</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Add comment</h4>
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

