﻿@model IEnumerable<Ftemov.MVC.Models.Complex>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="center">Sport Complexes</h1>
    <div class="row">
        @foreach (Ftemov.MVC.Models.Complex complex in Model)
        {
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light" style="height: 150px;">
                        <img class="activator" src="~/images/football.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">@complex.Name<i class="material-icons right">more_vert</i></span>
                        <a asp-area="" asp-controller="SportComplex" asp-action="ComplexProfile" asp-route-complexId="@complex.Id">Profile</a>                        
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Raiting<i class="material-icons right">close</i></span>
                        <p>@complex.Rating</p>
                        <p>@complex.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

